* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v101_453 {
  width: 100%;
  height: 2052px;
  background: rgba(240,240,242,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10438_43 {
  width: 100%;
  height: 70px;
  background: url("../images/v10438_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v10298_170 {
  width: 909px;
  height: 23px;
  background: url("../images/v10298_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 166px;
  overflow: hidden;
}
.v10298_171 {
  width: 91px;
  color: rgba(10,0,76,1);
  position: absolute;
  top: 0px;
  left: 473px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10298_172 {
  width: 129px;
  color: rgba(10,0,76,1);
  position: absolute;
  top: 0px;
  left: 594px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10298_173 {
  width: 153px;
  color: rgba(10,0,76,1);
  position: absolute;
  top: 0px;
  left: 756px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10298_174 {
  width: 170px;
  color: rgba(10,0,76,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10298_175 {
  width: 133px;
  color: rgba(10,0,76,1);
  position: absolute;
  top: 0px;
  left: 310px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10298_176 {
  width: 81px;
  color: rgba(10,0,76,1);
  position: absolute;
  top: 0px;
  left: 200px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10298_177 {
  width: 100%;
  background: url("../images/v10298_177.png");
  opacity: 0.20000000298023224;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(83,18,79,1);
}
.v10298_178 {
  width: 100%;
  height: 1px;
  background: url("../images/v10298_178.png");
  opacity: 0.20000000298023224;
  position: absolute;
  top: 69px;
  left: 0px;
  border: 1px solid rgba(10,0,76,1);
}
.v10298_164 {
  width: 42px;
  height: 42px;
  background: url("../images/v10298_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 1239px;
  overflow: hidden;
}
.v10298_165 {
  width: 42px;
  height: 42px;
  background: url("../images/v10298_165.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v10298_166 {
  width: 19px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  overflow: hidden;
}
.v10298_167 {
  width: 14px;
  height: 16px;
  background: url("../images/v10298_167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  overflow: hidden;
}
.v10298_168 {
  width: 8px;
  height: 8px;
  background: url("../images/v10298_168.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 1.5px solid rgba(10,0,76,1);
}
.v10298_169 {
  width: 14px;
  height: 6px;
  background: url("../images/v10298_169.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border: 1.5px solid rgba(10,0,76,1);
}
.v10298_179 {
  width: 129px;
  color: rgba(10,0,76,1);
  position: absolute;
  top: 27px;
  left: 1287px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10298_180 {
  width: 100%;
  height: 293px;
  background: url("../images/v10298_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1759px;
  left: 0px;
  overflow: hidden;
}
.v10298_181 {
  width: 100%;
  height: 293px;
  background: rgba(47,47,47,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10433_59 {
  width: 118px;
  height: 124px;
  background: url("../images/v10433_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 1027px;
  overflow: hidden;
}
.v10433_55 {
  width: 87px;
  color: rgba(168,168,168,1);
  position: absolute;
  top: 33px;
  left: 31px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10433_57 {
  width: 81px;
  color: rgba(168,168,168,1);
  position: absolute;
  top: 66px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10433_58 {
  width: 62px;
  color: rgba(168,168,168,1);
  position: absolute;
  top: 99px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10433_53 {
  width: 24px;
  height: 24px;
  background: url("../images/v10433_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 1px;
  overflow: hidden;
}
.v10433_54 {
  width: 24px;
  height: 24px;
  background: url("../images/v10433_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 1px;
  overflow: hidden;
}
.v10433_52 {
  width: 25px;
  height: 25px;
  background: url("../images/v10433_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v10298_182 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10298_197 {
  width: 85px;
  height: 121px;
  background: url("../images/v10298_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 680px;
  overflow: hidden;
}
.v10298_199 {
  width: 85px;
  height: 86px;
  background: url("../images/v10298_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 0px;
  overflow: hidden;
}
.v10433_45 {
  width: 33px;
  color: rgba(168,168,168,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10298_200 {
  width: 85px;
  color: rgba(168,168,168,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10433_46 {
  width: 85px;
  color: rgba(168,168,168,1);
  position: absolute;
  top: 65px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10298_198 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10433_48 {
  width: 134px;
  height: 121px;
  background: url("../images/v10433_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 286px;
  overflow: hidden;
}
.v10433_49 {
  width: 82px;
  color: rgba(168,168,168,1);
  position: absolute;
  top: 66px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10433_50 {
  width: 116px;
  color: rgba(168,168,168,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10433_51 {
  width: 120px;
  color: rgba(168,168,168,1);
  position: absolute;
  top: 100px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10433_47 {
  width: 134px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10298_228 {
  width: 100%;
  height: 852px;
  background: url("../images/v10298_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 850px;
  left: 63px;
  overflow: hidden;
}
.v10433_186 {
  width: 799px;
  height: 852px;
  background: url("../images/v10433_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 520px;
  overflow: hidden;
}
.v10307_246 {
  width: 390px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v10307_249 {
  width: 370px;
  height: 374px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 478px;
  left: 0px;
  overflow: hidden;
}
.v10307_247 {
  width: 369px;
  height: 373px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 0px;
}
.v10307_248 {
  width: 369px;
  height: 373px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 430px;
  overflow: hidden;
}
.v10307_250 {
  width: 369px;
  height: 374px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 478px;
  left: 430px;
  overflow: hidden;
}
.v10307_241 {
  width: 446px;
  height: 852px;
  background: url("../images/v10307_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10298_232 {
  width: 446px;
  height: 793px;
  background: rgba(217,217,217,0.3499999940395355);
  opacity: 0.699999988079071;
  position: absolute;
  top: 58px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v10307_244 {
  width: 201px;
  height: 28px;
  background: rgba(10,0,76,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 787px;
  left: 180px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  overflow: hidden;
}
.v10307_245 {
  width: 147px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 27px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10298_235 {
  width: 426px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 162px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10298_230 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v10298_236 {
  width: 122px;
  height: 0px;
  background: url("../images/v10298_236.png");
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 443px;
  border: 5px solid rgba(168,168,168,1);
  transform: rotate(-90deg);
}
.v10307_239 {
  width: 426px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 255px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10307_238 {
  width: 165px;
  color: rgba(29,55,53,0.1599999964237213);
  position: absolute;
  top: 205px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10307_240 {
  width: 165px;
  color: rgba(29,55,53,0.1599999964237213);
  position: absolute;
  top: 317px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10433_187 {
  width: 100%;
  height: 700px;
  background: url("../images/v10433_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 0px;
  overflow: hidden;
}
.v10298_225 {
  width: 100%;
  height: 700px;
  background: url("../images/v10298_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10483_45 {
  width: 556px;
  height: 254px;
  background: url("../images/v10483_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 54px;
  overflow: hidden;
}
.v10298_226 {
  width: 556px;
  height: 254px;
  background: rgba(255,255,255,1);
  opacity: 0.699999988079071;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v10298_222 {
  width: 191px;
  height: 32px;
  background: rgba(10,0,76,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 29px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  overflow: hidden;
}
.v10298_223 {
  width: 147px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 22px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v10298_214 {
  width: 478px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 29px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
