.AddActivity {
  margin-top: 40px;
  text-align: center;
}
.AddActivity a {
  font-family: Montserrat;
  background: radial-gradient(
    circle,
    rgba(93, 0, 250, 0.5) 0%,
    rgba(215, 11, 202, 0.5) 100%
  );
  padding: 20px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

#circleExit {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(93, 0, 250, 0.5) 0%,
    rgba(215, 11, 202, 0.5) 100%
  );
  padding: 1.5px 5px;
  right: 10px;
  border-radius: 25px;
}

.POP_up_close {
  background: radial-gradient(
    circle,
    rgba(93, 0, 250, 0.5) 0%,
    rgba(215, 11, 202, 0.5) 100%
  );
  border-radius: 25px;
  width: 30px;
  height: 30px;
  border-color: transparent;
  font-size: 20px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

::placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(109, 109, 109);
}

.pop_up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  /* transform: translateY(-44.5%) scale(0); */
  transition: 0.4s ease-in;
}

.pop_up.active {
  /* transform: translateY(0%) scale(100%); */
  opacity: 1;
  visibility: visible;
}

.pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}

#category {
  margin-top: 10px;
  cursor: pointer;
}

::placeholder {
  color: black;
}

.pop_up_body {
  margin: auto;
  border-radius: 20px;
  /* border: 4px solid transparent;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1; */
  width: calc(500px - 10px);
  height: 300px;
  background-color: white;
  text-align: center;
  position: relative;
  padding: 10px 10px 150px 10px;
}

.pop_up_body::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  background: radial-gradient(
    circle,
    rgba(93, 0, 250, 0.5) 0%,
    rgba(215, 11, 202, 0.5) 100%
  );
  border-radius: 20px;
  z-index: -1;
}

@media (max-width: 500) {
  .pop_up_body {
    width: calc(100% - 10px);
  }
}

.pop_up_body label {
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 600;
  background-image: radial-gradient(
    circle,
    rgba(93, 0, 250, 0.5) 0%,
    rgba(215, 11, 202, 0.5) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 40px;
}

.pop_up_body input {
  display: block;
  margin: auto;
  width: 370px;
  padding: 17px 20px;
  background: radial-gradient(
    circle,
    rgba(93, 0, 250, 0.5) 0%,
    rgba(215, 11, 202, 0.5) 100%
  );
  border-radius: 15px;
  border: none;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}

.pop_up_body textarea {
  display: block;
  margin: auto;
  width: 400px;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  color: #22262d;
}

#description {
  font-family: Montserrat;
  font-size: 14px;
  background: radial-gradient(
    circle,
    rgba(93, 0, 250, 0.5) 0%,
    rgba(215, 11, 202, 0.5) 100%
  );
  color: #22262d;
  margin-bottom: 10px;
}

input[type="submit"] {
  font-size: 20px;
  width: 150px;
  cursor: pointer;
}
input[type="date"] {
  cursor: pointer;
  width: 370px;
}

#category {
  width: 375px;
}

.AchiveAdd {
  color: blue;
}
.AchiveAdd.Added {
  color: aquamarine;
}

.EventAdd {
  color: blue;
}

.EventAdd.Added {
  color: aquamarine;
}
